#logo {
  height: 2.3rem;
}

.navbar {
  background: linear-gradient(black, transparent);
}

.navbar > .container {
  margin: 0.3rem 3rem;
  width: 100% !important;
  max-width: unset;
}

.navbar-collapse {
  width: fit-content;
  flex-grow: unset;
}

.navbar-brand {
  margin: 0 1rem;
}

.nav-item {
  line-height: 0.3rem;
}

.nav-link {
  color: var(--secondary-colour) !important;
  margin: 0.1rem 1rem;
}

.nav-item:nth-of-type(1) {
  border-right: 1px solid var(--secondary-colour);
}
