#logo {
  height: 2.3rem;
}

.navbar > .container {
  margin: 0.3rem 3rem;
  width: 100% !important;
  max-width: unset;
}

.navbar-collapse {
  width: fit-content;
  flex-grow: unset;
}

.navbar-brand {
  margin: 0 1rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

.nav-item {
  line-height: 0.3rem;
}

.nav-link {
  color: var(--secondary-colour) !important;
  margin: 0.1rem 1rem;
}

.nav-link:hover {
  color: var(--fourth-colour) !important;
}

.nav-item:nth-of-type(1) {
  border-right: 1px solid var(--secondary-colour);
}

@media (max-width: 992px) {
  .nav-item {
    text-align: right;
    border: none !important;
    margin-top: 0.5rem;
  }
}
