* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Klee One", cursive;
  font-weight: 900 !important;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: center;
}

:root {
  --primary-colour: black;
  --secondary-colour: white;
  --third-colour: #b8b3b0;
  --fourth-colour: #3e5d22;
}

#main-content {
  width: 70%;
}

.content-block {
  height: 40rem;
  display: flex;
  align-items: center;
}

.text-content {
  width: 40%;
}

.image-content {
  width: 60%;
  display: flex;
  justify-content: center;
}

.feature-image {
  width: 80%;
}

.sign-up-prompt {
  background-color: var(--primary-colour);
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: 600;
  margin-top: 2rem;
}

.learn-more-link {
  color: var(--fourth-colour);
}

h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--secondary-colour);
}

button {
  border: none;
  background-color: unset;
}
