* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Klee One", cursive;
  font-weight: 900 !important;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: center;
}

:root {
  --primary-colour: #353935;
  --secondary-colour: white;
  --third-colour: #3e5d22;
  --fourth-colour: #b8b3b0;
}

#main-content {
  width: 70%;
}
