* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: center;
}

:root {
  --primary-colour: black;
  --secondary-colour: white;
  --third-colour: #b8b3b0;
  --fourth-colour: #3e5d22;
}

#main-content {
  width: 70%;
}

.content-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8rem 1rem;
}

.content-block:nth-of-type(1) {
  margin-top: 8rem;
}

.text-content {
  width: 35%;
}

.image-content {
  width: 60%;
  display: flex;
  justify-content: center;
}

.feature-image {
  width: 90%;
}

.learn-more-button {
  margin-top: 2rem;
}

.learn-more-link {
  color: var(--fourth-colour);
  font-weight: 600;
}

.learn-more-link:hover {
  color: var(--fourth-colour);
}

h3 {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--secondary-colour);
}

button {
  border: none;
  background-color: unset;
}

.bi-caret-right-fill {
  margin-left: 0.4rem;
  font-size: 1.1rem;
}

.bi-caret-right-fill::before {
  transition-property: transform;
  transition-duration: 0.5s;
  transform: translateY(1px);
}

.learn-more-link:hover > .bi-caret-right-fill::before {
  transform: translate(5px, 1px);
  -webkit-transform: translate(5px, 1px);
}
